.testimonials {
  position: absolute;
  display: flex;
  @include respond(laptop) {
    flex-direction: column;
  }
  top: 50%;
  gap: 1.5rem;
  max-width: 1200px;
  width: 90%;
  //   background-color: red;
  left: 50%;
  transform: translate(-50%, -50%);
  &__col1 {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    flex-grow: 1;
    max-width: 75%;
    @include respond(laptop) {
      max-width: 100%;
    }
  }
  &__col2 {
    background-color: white;
    display: flex;
    flex-grow: 1;
    max-width: 25%;
    @include respond(laptop) {
      max-width: 100%;
    }
  }
  &__row1 {
    display: flex;
    @include respond(tablet) {
      flex-direction: column;
    }
    flex-grow: 1;
    width: 100%;
    gap: 1.5rem;
    .item1 {
      background-color: $moderateViolet;
      background-image: url("images/bg-pattern-quotation.svg");
      background-position: center;
      width: 75%;
      @include respond(tablet) {
        width: 100%;
      }
    }
    .item2 {
      width: 25%;
      @include respond(tablet) {
        width: 100%;
      }
      background-color: $veryDarkGrayishBlue;
    }
  }
  &__row2 {
    display: flex;
    @include respond(tablet) {
      flex-direction: column;
    }
    flex-grow: 1;
    gap: 1.5rem;
    .item1 {
      background-color: white;
      width: 25%;
      @include respond(tablet) {
        width: 100%;
      }
    }
    .item2 {
      width: 75%;
      @include respond(tablet) {
        width: 100%;
      }
      background-color: $veryDarkBlackishBlue;
    }
  }
}

.item {
  box-shadow: 0 1rem 2rem rgba(black, 0.4);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 2.5rem;

  &__heading {
    display: flex;
    margin-bottom: 2rem;
  }
  &__photo {
    position: relative;
    margin-right: 1.5rem;
    height: 2.5rem;
    img {
      border-radius: 50%;
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
      vertical-align: bottom;
      position: relative;
      z-index: 1;
    }
  }
  &__photo::before {
    display: block;
    content: "";
    border-radius: 50%;
    width: 110%;
    height: 110%;
    background-color: rgba(white, 0.4);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__name {
    &--name {
      color: white;
      &-d {
        color: $veryDarkBlackishBlue;
      }
    }
    &--job {
      color: rgba(white, 0.4);
      &-d {
        color: rgba($veryDarkBlackishBlue, 0.4);
      }
    }
  }
  &__title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 2rem;
    &-d {
      color: $veryDarkBlackishBlue;
    }
  }
  &__paragraph {
    font-size: 1.6rem;
    color: rgba(white, 0.4);
    &-d {
      color: rgba($veryDarkBlackishBlue, 0.4);
    }
  }
}
